#footer{
    bottom: 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #F44336;
    .footer__cc{
        text-align: center;
        color: #fff;
    }
}
