@supports (display: grid) {
    #footer{
        bottom: 0;
        margin: 20px 0 0 0;
        display: grid;
        justify-content: center;
        background-color: #F44336;
        .footer__cc{
            text-align: center;
            color: #fff;
        }
        .footer__social-list{
            display: grid;
            grid-template-columns: repeat(6, 0.5fr);
            list-style: none;
            justify-content: center;
            .footer__social-list__item {
                img{
                    width: 30%;
                    height: 100%;
                }
            }
        }
    }
}
